# dependencies
node_modules/

# env
.env
.env.local

# build
dist/
build/

# prisma local db
prisma/dev.db
prisma/dev.db-journal

# runtime
uploads/

# backups
*.bak.*
*.log

# files locaux
downloaded.pdf

# OS
.DS_Store
